<div>
  <h1 class="text-center mt-2">Users</h1>
  <div class="table-responsive">
    <table class="table table-stripedtable-bordered table-hover my-3">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">website</th>
          <th scope="col">Edit</th>
          <th scope="col">Posts</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users;">
          <th scope="row">{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.website | textEmpty}}</td>
          <td>
            <a [routerLink]="['/users/', user.id]">
              <fa-icon [icon]="faEdit"></fa-icon>
            </a>
          </td>
          <td>
            <a [routerLink]="['/users/', user.id, 'posts']">
              <fa-icon [icon]="faEye"></fa-icon>
            </a>
          </td>
        </tr>
    </table>
  </div>
</div>
